body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}
.background {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-image: url(https://cdn.dribbble.com/users/914217/screenshots/4195802/leeriley_hoh_2.jpg);
  opacity: 0.3;
  background-position: center;
  background-size: cover;
}
.navbar {
  z-index: 999;
  height: 12vh;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #262626;
  font-family: Oswald;
  font-weight: 800;
}
.modal {
  position: absolute;
  border-radius: 20px;
  height: 70vh;
  background-color: white;
  z-index: 999;
  top: 20vh;
  left: 10vw;
  width: 80vw;
  right: 10vw;
}
.modal > p {
  margin: 50px 100px;
  font-weight: lighter;
  font-family: Oswald;
  font-size: 3rem;
}
.modal > #next {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-family: Oswald;
  width: 200px;
  height: 70px;
  border-radius: 10px;
  border: none;
  background-color: pink;
  color: white;
  font-weight: 800;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  cursor: pointer;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}
.modal > #policy {
  position: absolute;
  bottom: 70px;
  right: -60px;
  font-size: 20px;
  font-weight: lighter;
}

#core {
  margin-top: 7vh;
  z-index: 1;
  width: 100%;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#core > div {
  z-index: 20;
  margin-bottom: 30px;
  max-width: 640px;
  margin-left: 30px;
  margin-right: 30px;
}
#webcam {
  height: 480px;
  width: 640px;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
  border-radius: 20px;
  /* display: none; */
}
canvas {
  /* z-index: 999; */
  position: absolute;
  left: 0px;
  height: 480px;
  width: 640px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.1);
}

#container {
  background-color: #363636;
  position: relative;
  height: 480px;
  width: 640px;
  border-radius: 20px;
  display: none;
  /* border-radius: 20px; */
}
.floating-text {
  position: absolute;
  top: 20px;
  left: 30px;
  color: yellow;
  font-weight: 800;
  font-size: 30px;
  font-family: Oswald;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 30px;
}

#instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: Oswald;
  width: 300px;
  height: 500px;
}

#gesture-name {
  font-family: Oswald;
  font-weight: 800;
  font-size: 70px;
  color: #363636;
}
#gesture-image {
  /* max-width: 250px; */
  max-height: 150px;
}
#results {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Oswald;
  font-weight: 800;
  background-color: rgba(255, 255, 255, 0.5);
  width: 300px;
  height: 500px;
}
#results > h1 {
  font-size: 4rem;
  font-weight: 800;
}
#cameraToggle {
  border: 1px solid white;
  padding: 10px 40px;
  cursor: pointer;
}

#nextGesture {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: none;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 70px;
  border: 2px solid black;
  color: black;
  z-index: 999;
  font-family: Oswald;
  font-weight: 800;
  cursor: pointer;
}
